@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-primary);
  --color-primary: #2c3930; /* Slate-700 */
  --color-secondary: #3f4f44; /* Slate-600 */
  --color-accent: #a27b5c;  /* Orange-500 */
  --color-neutral: #dcd7c9; /* Slate-100 */

  background-color: var(--color-neutral);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-accent);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-primary);
}

body {
  margin: 10px;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-neutral);
  color: var(--color-primary);
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--color-primary);
}

button {
  border-radius: 8px;
  border: 1px solid var(--color-secondary);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-accent);
  color: var(--color-neutral);
  cursor: pointer;
  transition: border-color 0.25s, background 0.25s;
}
button:hover {
  border-color: var(--color-primary);
  background-color: var(--color-secondary);
  color: var(--color-neutral);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.giphy-logo {
  height: 44px !important;
  width: 44px !important;
  object-fit: contain;
}

.gif-picker {
  background-color: var(--color-neutral);
  height: 350px;
}

.gif-picker .giphy-grid {
  max-height: 100% !important;
  height: 100% !important;
  overflow-y: auto !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-primary);
    background-color: var(--color-neutral);
  }
  a:hover {
    color: var(--color-secondary);
  }
  button {
    background-color: var(--color-accent);
    color: var(--color-neutral);
  }
}
